include _form

each comment in comments
	hr
	form(method='post',
		action='/entities/#{entity_id}/comments/#{comment.id}',
		class='button_to delete')
		input(type="hidden", name="_method", value="delete")
		input.btn.btn-mini(type='submit', value='delete')

	|#{comment.text}