div.comments-body
	each comment in comments
		div.row-fluid
			form.form-inline(method='post',
				action='/entities/#{entity_id}/comments/#{comment.id}',
				class='button_to delete')
				input(type="hidden", name="_method", value="delete")
				input.close.btn(type='submit', value='-')
			div.comment-text.span10
				if comment.author
					span.label.label-inverse.muted.pull-left #{comment.author.name}
				span.text
					|#{comment.text}

div.span5
	a.muted.pull-left.add-comment(href="#") comment
p
	include _form
