div.comments-body
	each comment in comments
		div.row-fluid
			form.form-inline(method='post',
				action='/entities/#{entity_id}/comments/#{comment.id}',
				class='button_to delete')
				input(type="hidden", name="_method", value="delete")
				input.close.btn(type='submit', value='-')
			div.comment-text.span10
				if comment.author
					span.label.label-inverse.muted #{comment.author.name}
				p
					|#{comment.text}

p
	include _form
