div.entity-header.row-fluid
	form.status(method='post',
			action='/entities/'+entity.id,
			class='select_to',
			style='display:none')

		input(type="hidden", name="_method", value="put")
		input.value(type="hidden", name="entity[status]", value="#{entity.status}")

	div.btn-group
		a.span11.btn.dropdown-toggle(data-toggle="dropdown", href="#") #{entity.name}
		ul.dropdown-menu
			li
				a.btn-success(data-status="green", href="#") normal
				a.btn-warning(data-status="yellow", href="#") warning
				a.btn-danger(data-status="red", href="#") danger
	a.span1(href='/entities/'+entity.id+'/edit')
		i.icon-edit
	hr

