h3 #{entity.name}
	| #{' '}
	a(href='/entities/'+entity.id+'/edit') edit
p.description
	|#{entity.description}
p.statuses
	form(method='post',
			action='/entities/'+entity.id,
			class='select_to')

		input(type="hidden", name="_method", value="put")
		include _statuses

div.comments.container(data-action="/entities/#{entity.id}/comments/")

script
