h2 #{entity.name}
p
	label Description:
	|#{entity.description}
p
	label Status:
	form(method='post',
			action='/entities/'+entity.id,
			class='select_to')

		input(type="hidden", name="_method", value="put")
		include _statuses

div.comments.container(data-action="/entities/#{entity.id}/comments/")

script
