extends ../layout.html

block content
	h2 #{entity.name}
	p
		label Description:
		|#{entity.description}
	p
		label Status:
		form(method='post',
				action='/entities/'+entity.id,
				class='select_to')

			input(type="hidden", name="_method", value="put")

			select(name="entity[status]", data-selected="#{entity.status}")
				option(value="red") Red: Alarm! Don't get close!!1
				option(value="yellow") Yellow: Warning! Ask before touch!
				option(value="green") Green: Everything is fine

	div.comments.container

	script
		$('.comments.container').on('update',function(){
			$comments = $(this);

			$.ajax({
				url: location.href.match(/\/entities\/[\w]+/)[0]+'/comments/',
				dataType: 'html',
				}).success(function(data){
					$comments.html(data);
				});
		});

		$('.comments.container').trigger('update');

		function postFormUpdateContainer(){
			event.preventDefault();

			var $form = $(this),
				$container = $form.closest('.container'),
				postData = $form.serialize(),
				postUrl = $form.attr('action');

			$.post(postUrl, postData).success(function(){
				$container.trigger('update');
			});
		}

		$('body').on('submit','.comments-form',postFormUpdateContainer);

		$('body').on('submit','form.button_to.delete',postFormUpdateContainer);

		$('body').on('submit','form.select_to',postFormUpdateContainer);
		$('body').on('change','.select_to select',function(){
			$(this).closest('form').submit();
		});
